/* Giphy API App */
/* Jacob Stanger | jan 2020 */

body {
  background-image: url('../imgs/subtle_white_feathers.png');
}

header {
  color: white;
}

button {
  margin: 8px 2px;
}

.btn:hover {
  /* This works */
  /* background-color: pink; */
}

.main {
  border-top: 3px solid darkslategray;
  padding-top: 10px;
}

.container h1 {
  text-align: center;
}

.card {
  margin: 11px;
  /* max-width: 100%; */
  overflow: hidden;
}

.card-title {
  word-wrap: break-word;
}